* {
    font-family: "Eczar", serif;
    font-weight: 1000;
    font-style: normal;
    /* color: #d2cca1; */
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    flex-direction: row;
    background-color: #283d3b;
    color: #d2cca1;
    padding: 1rem 0;
}

.header-left {
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 40px;
    align-items: center;
    margin-left: 10px;
}


.header-right {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: right;
    align-items: center;
}

.header-right a {
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #d2cca1;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

main {
    background-color: #08605f;
    padding: 2rem 0;
    height: 110vh;
}

.main-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    color: #d2cca1;
}

.main-top h1 {
    font-size: 78px;
}

.main-top h4 {
    font-size: 32px;
}

.main-top hr {
    width: 95%;
    background-color: #ffcb77;
}

.main-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.restaurant-style1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 10%;
}

.restaurant-style2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.restaurant-style1 img {
    height: 200px;
}

.restaurant-style2 img {
    height: 200px;
}

footer {
    background-color: #283d3b;
    padding: 3rem 0;
    z-index: 1;
}