* {
    font-family: "Eczar", serif;
    font-weight: 1000;
    font-style: normal;
    color: #d2cca1;
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    flex-direction: row;
    background-color: #283d3b;
    color: #d2cca1;
    padding: 1rem 0;
}

.header-left {
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 40px;
    align-items: center;
    margin-left: 10px;
}


.header-right {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: right;
    align-items: center;
}

.header-right li {
    font-size: 20px;
    margin-right: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.header-right button {
    height: 3rem;
    width: 30%;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #177e89;
    border-color: transparent;
    color: #d2cca1;
    font-size: 24px;
}


main {
    background-color: #08605f;
    padding: 2rem 0;
    height: 73vh;
}

.main-top {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hungry {
    font-size: 24px;
}

.search-querys {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    /* border: solid 2px black; */
}

main input {
    font-size: 24px;
    width: 25%;
    margin-right: 10px;
    border: solid 4px #ffcb77;
    background-color: #d2cca1;
    border-radius: 10px;
    height: 3rem;
    color: #7c7a7a;
}

.cuisine {
    height: 3.6rem;
    width: 25%;
    border-radius: 10px;
    border: none;
    background-color: #177e89;
    color: #d2cca1;
    font-size: 24px;
    
}

.search {
    margin: 30px 0 0 0;
    width: 15%;
    height: 3.5rem;
    background-color: #177e89;
    color: #d2cca1;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}

.cuisine-options {
    position: absolute;
    z-index: 1;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #d2cca1;
    border: solid 4px #ffcb77;
    color: #7c7a7a;
    width: 60%;
    height: 20rem;
    font-size: 16px;
}

.cols {
    display: flex;
    flex-direction: row;
}

.col1 {
    display: flex;
    flex-direction: column;
    color: #7c7a7a;
}

.col2 {
    display: flex;
    flex-direction: column;
    color: #7c7a7a;
}

.col3 {
    display: flex;
    flex-direction: column;
    color: #7c7a7a;
}

.col4 {
    display: flex;
    flex-direction: row;
    color: #7c7a7a;
}

.main-bottom {
    position: relative;
    margin: 100px 0;

}

.bottom-mid {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.bottom-mid img {
    width: 38rem;
    display: flex;
    border-radius: 20px;
}

footer {
    background-color: #283d3b;
    padding: 3rem 0;
}
